<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="homework-container">
	{{> "./friends-content.hbs"}}
</div>
</body>
</html>