{{#each friends}}
	<div class="friend" data-role="drag">
		<img src="{{photo_100}}" class="photo">
		<div class="name">{{first_name}} {{last_name}}</div>
		<button class="role-button" data-role="toSort" data-id="{{id}}">+</button>
	</div>
{{/each}}