<script src="https://vk.com/js/api/openapi.js?122" type="text/javascript"></script>

<div class="wrapper">
	<div class="header_title">Выберите друзей</div>
	<div class="search_block">
		<input type="text" placeholder="Введите имя" id="friendSearch1">
		<input type="text" placeholder="Введите имя" id="friendSearch2">
	</div>
	<div class="inner">
		<div class="left-colum">
			<p>Ваши друзья</p>
			<div id="friends" class="friends-container"></div>
		</div>
		<div class="right-colum">
			<p>Друзья в списке</p>
			<div id="friends-sort" class="friends-container"></div>
		</div>
	</div>
	<div class="footer">
	    <button id="save">Сохранить</button>
	</div>
</div>